<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>DexConnect</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h4 class="my-0 mr-md-auto font-weight-normal text-primary">DexConnect</h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Home</a>
    <a class="p-2 text-dark" href="/categories">Categories</a>
    <a class="p-2 text-dark" href="/contribute">Contribute</a>
    <a class="p-2 text-dark" href="#">About</a>
  </nav>
  <a class="btn btn-outline-primary" href="/signup">Sign up</a>
</div>
    <h3 class="text-info ml-4">About Us</h3>
    <div class="card-deck my-5 ml-3 mr-3">
  <div class="card">
    <img src="/static/about1.jpg" class="card-img-top" alt="about1">
    <div class="card-body">
      <h5 class="card-title text-info">World-class opportunities</h5>
      <p class="card-text">Drawing on more than twelve years of research and powered by strong partnerships, DexConnect is the world's largest repository of world class opportunities.</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/about2.jpg" class="card-img-top" alt="about2">
    <div class="card-body">
      <h5 class="card-title text-info">On an Opportunity Superhighway</h5>
      <p class="card-text">Building a unique supply chain of educational opportunities to connect an expansive network of schools, libraries and nonprofits, DexConnect pioneered the concept of an "Opportunity Superhighway."</p>
    </div>
  </div>
  <div class="card">
    <img src="/static/about3.jpg" class="card-img-top" alt="about3">
    <div class="card-body">
      <h5 class="card-title text-info">Till the last mile</h5>
      <p class="card-text">With students from the remotest and most underserved communities competing and excelling at global platforms, DexConnect has shown what's possible when we reach opportunities till the last mile.</p>
    </div>
  </div>
</div>
    <h5 class="text-info ml-4">What is DexConnect?</h5>
    <p class="ml-4">DexConnect is an opportunity discovery and preparation platform that increases the levels of access, aspiration and achievement across schools and communities.</p>
    <p class="ml-4">Through a widespread network of schools, libraries, nonprofits, media houses and influencers, DexConnect connects students with global educational opportunities that enable them to explore varied academic and co-curricular disciplines and unlock their hidden interests and potential.</p>
    <h5 class="text-info ml-4">What are DexConnect Opportunity Updates?</h5>
    <p class="ml-4">Sent on the 10th of every month, DexConnect Opportunity Updates contain world-class educational opportunities along with suggested resources that enable students to excel.</p>
    <p class="ml-4 mb-5">Opportunities include competitions and conferences, scholarships and fellowships, awards and grants, workshops and exchange programs across all fields — Science and Technology, Leadership and Innovation, Policy and Research, Art and Design, Sports, etc.</p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>