<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>DexConnect</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h4 class="my-0 mr-md-auto font-weight-normal text-primary">DexConnect</h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Home</a>
    <a class="p-2 text-dark" href="#">Categories</a>
    <a class="p-2 text-dark" href="/contribute">Contribute</a>
    <a class="p-2 text-dark" href="/about">About</a>
  </nav>
  <a class="btn btn-outline-primary" href="/signup">Sign up</a>
</div>
    <h2 class=" text-center text-info">BY AGE LIMIT</h2>
    <div class="row my-5 ml-5 mr-5">
      <div class="col-md-4">
        <h2 class="text-info">UN YOUTH VIDEO CONTEST</h2>
        <h6>Eligibility:UPTO 25 YEARS</h6>
        <h6>LAST DATE:JUNE 19,2020</h6>
        <P>Organized by the United Nations Alliance of Civilizations (UNAOC), this competition invites students to submit a video on the topic of migration, diversity, social inclusion and the prevention of xenophobia. Submissions can be made in three categories - First (up to 12 years old), Second (13-17 years old) and Third (17-25 years old). Up to 6 winners will be selected for a fully funded trip to Morocco for the annual award ceremony.</P>
        <p><a class="btn btn-primary" href="https://pluralplus.unaoc.org/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">TAKHTE 1AC ONLINE ESSAY CONTEST</h2>
        <h6>Eligibility:11 - 24 YEARS</h6>
        <h6>Last Date:JUNE 30, 2020</h6>
        <p>UNESCO and Takhte jointly invite young people to engage in a reflection - through words - on some of the most important questions facing humanity with a special focus on the ongoing COVID-19 pandemic. Essays should not be in more than 700 words and can be submitted in either of the two categories - Children (11-14 years) and Youth (15-24 Years). 100 winning essays will be published in the form of a book entitled Year 1 AC (After Coronavirus): ESSAYS BY 100 YOUNG INDIANS.</p>
        <p><a class="btn btn-primary" href="https://www.takhte.in/essay-contest.php" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">COINS GRAND CHALLENGE</h2>
        <h6>Eligibility:18 YEARS OR ABOVE</h6>
        <h6>Last Date:JUNE 30, 2020</h6>
        <p>The competition aims to encourage students and entrepreneurs to come forward with new ideas to help improve the construction industry. Applicants can enter in either of the two categories - Undergraduate or Open. Applicants in the Undergraduate category need to submit an essay or a video and applicants in the open category are required to answer a set of questions regarding their ideas. A total of $15,000 will be distributed among 4 winners.</p>
        <p><a class="btn btn-primary" href="https://www.coins-grandchallenge.com/info-2/guidance2020" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">SCHOLASTIC WRITING AWARD</h2>
        <h6>Eligibility:CLASSES 4-9</h6>
        <h6>Last Date:JUNE 30, 2020</h6>
        <p>The competition is inviting students to write an original short story in any of the four given genres - Humor, Horror, Sci-fi/Fantasy and Adventure. Students can submit more than one entry, limited to one in each genre. Stories can be submitted in two categories - Group 1 (Classes 4 - 6) and Group 2 (Classes 7 - 9). Award-winning stories will be published in an anthology titled For Kids By Kids.</p>
        <p><a class="btn btn-primary" href="http://swa.scholastic.co.in/#/login" role="button">View details »</a></p>
      </div>
    </div>
    <h2 class=" text-center text-info">OPEN FOR ALL</h2>
    <div class="row my-5 ml-5 mr-5">
      <div class="col-md-4">
        <h2 class="text-info">ISB BUSINESS SIMULATION COMPETITION</h2>
        <h6>Eligibility:OPEN FOR ALL</h6>
        <h6>Last Date:JUNE 17,2020</h6>
        <p>Indian School of Business is inviting students to create a fully functional game that may be used as part of one of ISB’s teaching programs. Participants need to ideate relevant management concepts and create a game/simulation with clear learning objectives that may be used in a classroom. Selected participants will be selected as interns and mentored by ISB for a period of four months. A total of Rs. 3,00,000 will be distributed among three winners. </p>
        <p><a class="btn btn-primary" href="https://www.isb.edu/business-sims" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">HUMANKIND AFTER COVID-19 DESIGN CHALLENGE</h2>
        <h6>Eligibility:OPEN TO ALL</h6>
        <h6>Last Date:JUNE 20, 2020</h6>
        <p>The challenge invites students to propose a design project that helps to revive the economy of a region, city or community affected by the COVID-19 outbreak. The projects can be designed individually or in teams of up to 4 members and can be of any program, scale and on any site. A total of 2500 Euros in prize money will be distributed among the top three winners.</p>
        <p><a class="btn btn-primary" href="https://www.theark.design/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">WORLD HANDWRITING CONTEST</h2>
        <h6>Eligibility:OPEN TO ALL</h6>
        <h6>LAst Date:JUNE 30, 2020</h6>
        <p>Entries can be made in 5 different age categories - Children (age 7 or below), Pre-Teens (ages 8-12), Teens (ages 13- 19), Adults (ages 20-64) or Seniors (ages 65 or over). Participants are required to write a quote displayed on the contest’s website and submit it through email or postal mail. Participants can submit either Functional Handwriting (cursive or manuscript) or Artistic Handwriting. The top two entries in each category will be awarded.</p>
        <p><a class="btn btn-primary" href="https://handwritingrepair.info/WHAC/index.html" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">WATER HEROES STORY CONTEST</h2>
        <h6>Eligibility:OPEN TO ALL</h6>
        <h6>Last Date:JUNE 30, 2020</h6>
        <p>Participants are required to submit success stories in the field of water conservation in the form of a write-up in English or Hindi (upto 300 words), pictures and a video of one to five minute duration depicting the efforts/significant contributions/best practices used in different parts of the country in field of water conservation, water utilization or water resources development and management. Winners will receive a cash prize of Rs. 10,000 each.</p>
        <p><a class="btn btn-primary" href="https://www.mygov.in/task/water-heroes-share-your-stories-contest/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-info">LRH WRITERS OF THE FUTURE CONTEST</h2>
        <h6>Eligibility:OPEN TO ALL</h6>
        <h6>Last Date:JUNE 30, 2020</h6>
        <p>The competition invites students to submit Science Fiction and Fantasy stories for the L. Ron Hubbard’s Award. The submitted entries must be a work of prose, of no more than 17,000 words in length. Each participant can submit only one entry. A total of $2,250 will be distributed among the winners and a Grand Prize winner will receive an additional $5,000 in cash.</p>
        <p><a class="btn btn-primary" href="https://www.writersofthefuture.com/enter-writer-contest/" role="button">View details »</a></p>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>